
input:invalid {
    border: red solid 3px;
  }
  .alertProduit {
     display: none;
  }
  .alert-danger {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 20px;
    margin-top: 5px;
   
  }
  i{
    font-size: 20px;
  }
  
 ul li a{
    text-decoration: none;
    color: white;
  }
  .containPrix{
    background: linear-gradient(135deg,#e66465 , #833ab4);
    border-radius: 20px/20px;
    color: white;
    width: 280px;
    display: flex;
    justify-content: center;
    margin-top: 20px;  
  }
  .carte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .card{
    margin-left: 20px;
    margin-top: 20px;
  }
  .kalam {
    font-family: 'Kalam', cursive;
  }
  .gras {
    font-weight: 700;
  }
  .fin {
    font-weight: 300;
  }
  section #titre {
    text-align: center;
  }
  
  .designAjout{
    width: 300px;
  }
  select .selected {
    width: 200px;
  }
  .corps .formu {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 500px;
    width: auto;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    
      
  }
  .structure {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-evenly;
  }