@mixin colorPrimiry {
    background-color: aqua;
}
@mixin lg-only {
   @media screen and (min-width: 1023px) and (max-width: 1420px) {
      width: 38rem;
        img {
          width: 250px;
        }
    }
}
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}
@mixin tablette-only {
    @media screen and (min-width: map-get($breakpoints, tablette)) {
      @content;
    }
}