$headings-font-family: "Times New Roman", Times, serif;
$primary: #F44359;
$secondary: #06016F;
$border-radius: 1rem;
$card-border-color: black;
$card-border-radius: 20px 20px 20px 20px;
$card-height: auto;
$border-width: 2px;
$btn-padding-x: 3rem;

$breakpoints: (
    mobile: 576px,
    tablette: 768px,
    laptop: 1200px,
    desktop: 1400px,
);

