.confirmation {
  &__border_inf {
    border-bottom: 1px solid grey; 
  }
  &__livraion {
    text-align: center;
    width: 350px;
    height: 350px;
  }
  @include tablette-only {
    img {
      width: 500px;
      height: auto;
    }
    h5,h6 {
      font-size: 25px;
    }
    h4 {
      font-size: 30px;
    }
  }
   img {
     height:300px
   }
}
#orderCustomer h1{
 font-size: 20px;
}
@include tablette-only {
  .containPrix p {
    font-size: 25px;
  }
  section h3 {
    font-size: 30px;
  }
  .envoieMail {
    font-size: 20px;
  }
  #orderId h4,h5{
    font-size: 25px;
  }
}
@include grandEcran {
  #structurer {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
 
